
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TerryHome</title>
</head>
<body>

    <div style="position:absolute; top: 5px; bottom: 60px; left: 5px; right: 5px; border: 1px solid blue; border-radius: 5px; padding: 10px;">

    </div>
    <div style="position:absolute; bottom: 5px; left: 5px; right: 5px; height:50px; border: 1px solid blue; border-radius: 5px">
 
    </div>

</body>
</html>
